<html>
<head>

<title> ravi </title >
<meta charset="utf-8" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />	 


<style type="text/css">
.large {	 
	color: red;
}
h1 {
color: orange;
text-align: center;
}

</style>
</head>
<body>
<p class="large"> this id </p>
<h1> hello </h1>
<a href = " https://www.w3schools.com/html/ " > this is link 
<pre>
ghgg
uuhju
</pre>
</a>
</body>

</html>